
<!--Outer Wrapper of the site -->
<!--<app-parallax></app-parallax>-->
  
<div class = "container-fluid branchDiv">
    <div class = "row">
        <div class = "col-sm-12 gridDiv">
          <h1>Insert Branch here</h1>
        </div>
      </div>
</div>
<div class = "container-fluid choicesDiv">
  <div class = "row">
      <div class="col-sm-4 card text-center">
        <div class = "card-body">
            <h1>Add New Memory</h1>
            <hr>
            <p class="title">CEO & Founder, Example</p>
            <p>Harvard University</p>
            <div style="margin: 24px 0;">
              <a href="#"><i class="fa fa-dribbble"></i></a> 
              <a href="#"><i class="fa fa-twitter"></i></a>  
              <a href="#"><i class="fa fa-linkedin"></i></a>  
              <a href="#"><i class="fa fa-facebook"></i></a> 
           </div>
           <p><button>Contact</button></p>
        </div>   
        </div>
        <div class="col-sm-4 card text-center">
            <div class = "card-body">
                <h1>Chat</h1>
                <hr>
                <p class="title">CEO & Founder, Example</p>
                <p>Harvard University</p>
                <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-dribbble"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
               </div>
               <p><button>Contact</button></p>
            </div>   
            </div>
            <div class="col-sm-4 card text-center">
                <div class = "card-body">
                    <h1>Memory Bank</h1>
                    <hr>
                    <div class = "row">
                        <p class="title">CEO & Founder, Example</p>
                        <p>Harvard University</p>
                        <div style="margin: 24px 0;">
                          <a href="#"><i class="fa fa-dribbble"></i></a> 
                          <a href="#"><i class="fa fa-twitter"></i></a>  
                          <a href="#"><i class="fa fa-linkedin"></i></a>  
                          <a href="#"><i class="fa fa-facebook"></i></a> 
                       </div>
                      
                    </div>
                    <div class = "row">
                        <p><button>Contact</button></p>
                    </div>    
                   
                </div>   
                </div>
  </div>
</div>


