<head> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<h3>New Memory</h3>
<div class = "form">
  <form class="myForm" method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">

    <p>
      <label><h5>Topic</h5>
    <input type="text" name="topic"   >
    </label>
    </p>

<hr>
    <fieldset>
      <h5>Which type of memory is this?</h5>
      
      <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Event
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Branch
          </label>
        </div>
    </fieldset>
<hr>



    <p>
      <label><h5>How often do you want to talk about this?</h5> 
    <select id="reminderfrequency" name="reminderfrequency">
    <option value="daily" selected="selected">Daily</option>
    <option value="2days" >Every 2 Days</option>
    <option value="3days" >Every 3 Days</option>
    <option value="4days" >Every 4 Days</option>
    <option value="5days" >Every 5 Days</option>
    <option value="6days" >Every 6 Days</option>
    <option value="7days" >Every 7 Days</option>
    <option value="2weeks" >Every 2 weeks</option>
    <option value="3weeks" >Every 3 weeks</option>
    <option value="month" >Once a Month</option>
    
    </select>

    </label>
    </p>
<hr>
    <p>
      <label><h5>Description</h5>
    <textarea name="comments" maxlength="700"></textarea>
    </label>
    </p>
<hr>
    <p><button>Save Memory</button></p>

  </form>
</div>